[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/editorconfig-vim"]
	path = vimfiles/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vimfiles/bundle/neocomplcache.vim"]
	path = vimfiles/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/tabular"]
	path = vimfiles/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vimfiles/bundle/textile.vim"]
	path = vimfiles/bundle/textile.vim
	url = https://github.com/timcharper/textile.vim
[submodule "vimfiles/bundle/tlib_vim"]
	path = vimfiles/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vimfiles/bundle/vim-addon-mw-utils"]
	path = vimfiles/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vimfiles/bundle/L9"]
	path = vimfiles/bundle/L9
	url = https://github.com/vim-scripts/L9
[submodule "vimfiles/bundle/vim-repeat"]
	path = vimfiles/bundle/vim-repeat
	url = https://github.com/kana/vim-repeat
[submodule "vimfiles/bundle/vim-snipmate"]
	path = vimfiles/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vimfiles/bundle/vim-snippets"]
	path = vimfiles/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vimfiles/bundle/vim-autocomplpop"]
	path = vimfiles/bundle/vim-autocomplpop
	url = https://github.com/othree/vim-autocomplpop
[submodule "vimfiles/bundle/robotframework-vim"]
	path = vimfiles/bundle/robotframework-vim
	url = git://github.com/mfukar/robotframework-vim.git
[submodule "vimfiles/bundle/confluencewiki.vim"]
	path = vimfiles/bundle/confluencewiki.vim
	url = https://github.com/vim-scripts/confluencewiki.vim
[submodule "vimfiles/bundle/vim-razor"]
	path = vimfiles/bundle/vim-razor
	url = https://github.com/adamclerk/vim-razor
